.App {
  font-family: sans-serif;
  text-align: center;
}
.head {
  max-width: 100%;
  max-height: 40px;
  background-color: rgb(29, 2, 2);
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin: auto;
}
.btn {
  max-width: 30%;
  padding: 1rem;
  margin: 1.5%;
  border: solid 2px;
  border-radius: 0.4rem;
  color: white;
  background-color: rgb(51, 19, 19);
  font-size: medium;
}
.body {
  max-width: 70%;
  align-items: center;
  display: block;
  text-align: left;
  margin: auto;
}

.li {
  list-style-type: none;
  border: solid 0.5px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2%;
  background-color: rgb(241, 215, 180);
}
.bgm {
  max-width: 100%;
  background-image: linear-gradient(rgb(43, 24, 24), rgb(196, 139, 139));
  padding: 1rem;
}
.bgm1 {
  max-width: 100%;
  background-color: rgb(29, 2, 2);
  padding: 1rem;
  color: white;
}
.div1 {
  font-size: large;
  margin: 0.3rem;
}
.div2 {
  font-size: small;
  margin: 0.3rem;
}
